<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="d-flex justify-content-center" style="margin-top: 10%;">
    <form>
        <div class="mb-3">
          <label for="InputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="Check">
          <label class="form-check-label" for="Check">Mantener iniciada la sesión</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</body>
</html>
