<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EjercicioRegistro</title>
  </head>
  <body class="d-flex justify-content-center" style="margin-top: 10%;">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h1 class="card-title">Bienvenido</h1>
        <p class="card-text">
          Este es mi primer ejercicio de Angular. Regístrate si aún no lo has hecho!
        </p>
        <div class="d-flex flex-column bd-highlight mb-3">
          <a href="./login" class="btn btn-primary">Login</a>
          <br>
          <a href="./register" class="btn btn-primary">Regístrate</a>
        </div>  
      </div>
      <div>
        Te gusta mi ejercicio?&nbsp;
        <br>
        <a href="https://github.com/juanbuades/AngularLogin">Dale una estrella a mi repositorio</a>
        <svg href="https://github.com/juanbuades/AngularLogin" class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
        </svg>
      </div>
    </div>
    <div>
      <footer></footer>
    </div>
  </body>
</html>
