<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body class="d-flex justify-content-center" style="margin-top: 5%">
    <form method="GET" id="contact-form" role="form" [formGroup]="formularioContacto" (ngSubmit)="enviarFormulario();">
        <h1>Formulario de registro</h1>
        <h5>Todos los campos son obligatorios</h5>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" form="contact-form"/>
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="apellido" class="form-label">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellido" id="apellido" name="apellido" form="contact-form" />
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="telefono" id="telefono" name="telefono" form="contact-form"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="direccion" id="direccion" name="direccion" form="contact-form"/>
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="localidad" class="form-label">Localidad</label>
                <input type="text" class="form-control" formControlName="localidad" id="localidad" name="localidad" form="contact-form"/>
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <input type="text" class="form-control" formControlName="provincia" id="provincia" name="provincia" form="contact-form"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-3">
                <label for="correo" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="correo" id="correo" name="correo" form="contact-form"/>
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="contrasena" id="contrasena" name="contrasena" form="contact-form"/>
              </div>
            </td>
            <td>
              <div class="mb-3">
                <label for="confirmContrasena" class="form-label">Confirma la contraseña</label>
                <input type="password" class="form-control" formControlName="confirmContrasena" id="confirmContrasena" name="confirmContrasena" form="contact-form"/>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" formControlName="condiciones" id="condiciones" name="condiciones" form="contact-form"/>
                <label class="form-check-label" for="condiciones">Acepto las condiciones de uso</label>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit" [disabled]="!formularioContacto.valid" class="btn btn-primary" form="contact-form">Registrarse</button>
              <div class="alert alert-info" *ngIf="!formularioContacto.valid">
                Debe rellenar correctamente todos los campos.
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
